Repository saulotoledo/impact-analyzer-client: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run format, npm run lint, npm run test:nowatch

.lintstagedrc:

{
  "*.{ts,tsx,json,md}": [
    "npm run format",
  ],
  "*.{ts,tsx}": [
    "npm run lint"
  ],
  "*.test.{ts,tsx}": [
    "npm run test:nowatch"
  ]
}

feat: add basic material UI dependencies
  package-lock.json
  package.json
Due: npm run format

refactor: cleanup application and fix lint issues
  .eslintrc.json
  .gitignore
  public/index.html
  public/logo192.png
  public/logo512.png
  public/manifest.json
  src/App.css
  src/App.tsx
  src/components/App.test.tsx
  src/components/App.tsx
  src/index.css
  src/index.tsx
  src/logo.svg
  src/reportWebVitals.ts
Due: npm run format, npm run lint, npm run test:nowatch

feat(tags): loading list of tags
  .env.example
  .eslintrc.json
  .vscode/launch.json
  .vscode/settings.json
  package-lock.json
  package.json
  src/axios.ts
  src/components/App.test.tsx
  src/components/App.tsx
  src/components/Navbar.tsx
  src/components/Page.tsx
  src/components/TagsTable/index.tsx
  src/interfaces/Tag.ts
  src/pages/TagsListPage.tsx
  src/routes/AppRouter.tsx
  src/routes/index.ts
  src/services/tags.service.tsx
Due: npm run format, npm run lint, npm run test:nowatch

feat(tags): render tags children on table
  .eslintrc.json
  src/components/Page.tsx
  src/components/TagsTable/TagsTableEntry.tsx
  src/components/TagsTable/index.tsx
  src/interfaces/Tag.ts
Due: npm run format, npm run lint

feat(tags): add tag deletion support
  src/components/TagsTable/TagsTableEntry.tsx
  src/components/TagsTable/index.tsx
  src/services/tags.service.tsx
Due: npm run format, npm run lint

feat(tags): add basic edit functionality
  package-lock.json
  package.json
  src/components/TagEdit/TagForm.tsx
  src/components/TagEdit/index.tsx
  src/components/TagsTable/TagsTableEntry.tsx
  src/components/TagsTable/index.tsx
  src/interfaces/Message.ts
  src/interfaces/Tag.ts
  src/pages/TagEditPage.tsx
  src/routes/index.ts
  src/services/tags.service.tsx
Due: npm run format, npm run lint

feat(navbar): add responsive main menu
  src/components/Navbar.tsx
  src/pages/TagEditPage.tsx
  src/routes/index.ts
Due: npm run format, npm run lint

feat(tables): add list of tables
  src/components/TablesTable/index.tsx
  src/components/TagsTable/TagsTableEntry.tsx
  src/interfaces/Table.ts
  src/pages/TablesListPage.tsx
  src/react-app-env.d.ts
  src/routes/AppRouter.tsx
  src/routes/index.ts
  src/services/tables.service.tsx
  src/services/tags.service.tsx
Due: npm run format, npm run lint

feat(tables): add table upload
  package-lock.json
  package.json
  src/components/TableUpload/index.tsx
  src/pages/TablesListPage.tsx
  src/services/tables.service.tsx
Due: npm run format, npm run lint

feat(tables): add table upload
  src/components/TableUpload/index.tsx
  src/components/TablesTable/index.tsx
  src/components/TagsTable/index.tsx
  src/interfaces/Message.ts
Due: npm run format, npm run lint

feat(tables): add table edit page
  src/components/TableEntriesTable/index.tsx
  src/components/TagEdit/TagForm.tsx
  src/interfaces/TableField.ts
  src/pages/TableEditPage.tsx
  src/pages/TablesListPage.tsx
  src/pages/TagEditPage.tsx
  src/pages/TagsListPage.tsx
  src/routes/index.ts
  src/services/tables.service.tsx
  src/services/tags.service.tsx
Due: npm run format, npm run lint

feat(tables): add functionality for tagging table cells
  src/components/TableEntriesTable/FloatingTags.tsx
  src/components/TableEntriesTable/TagsManager.tsx
  src/components/TableEntriesTable/index.tsx
  src/interfaces/TableEntry.ts
  src/services/tables.service.tsx
Due: npm run format, npm run lint

docs: update readme
  README.md
Due: npm run format

fix(tags): show parent tag field for root level tags
  src/components/TagEdit/TagForm.tsx
Due: npm run format, npm run lint
